/*
	DIOGENES JUNIOR
	CONTATO@DIOGENESJUNIOR.COM.BR
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url("font.css");

/*---------------------------------
	ESTILOS
-----------------------------------*/
html{
    height: 100%;
}
body{
	overflow-x: hidden;
    background:#fff;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}



.barra-top{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    background: #dbdbd9;
    margin-bottom: 20px;
}

#menuMobile{
    display: none;
}


header{
    padding-top: 0px;
}
.logo img{
    max-width: 100%;
    height: auto;
}


.menu-desktop{
    text-align: right;
    color:#666;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding-top: 8px;
}

.menu-desktop span{
    padding-right: 5px;
    padding-left: 10px;
}
.menu-desktop a{
    color:#a4a4a4;
    text-decoration: none;
    padding-left: 13px;
}


.menu-desktop a.facebook:hover{
   color:#3b5999 !important;
   -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}
.menu-desktop a.instagram:hover{
    color:#305c85 !important;
    -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}
.menu-desktop a.pinterest:hover{
    color:#d83b38 !important;
    -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}

.menu-desktop a.carrinho:hover{
    color:#f856a2 !important;
    -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}


.slideshow{
    margin-top: 20px;
}


#owl-demo .item,#owl-demo .item img,#owl-demo2 .item,#owl-demo2 .item img{
  width: 100%;
  height: auto;
}

  .owl-controls{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    width: 85px;
    margin-top: 10px;
    text-align: center;
  }
  .owl-page,.owl-page.active{
    float: left !important;
    width: 10px !important;
    height: 10px !important;
    margin-right: 14px !important;
    background: #ccc !important;
    border-radius: 100px !important;
  }
  .owl-page.active{
    background: #eb839e !important;
  }


.destaques-home{
    margin-top: 0px;
    text-align: justify;
}

.destaques-home .coluna-1 img{
    width: 100%;
    height: auto;
}

p{
    font-family: 'Open Sans', sans-serif;
    color:#000;
    line-height: 1.8em;

}


.newsletter{
    margin-top: 30px;
}



.newsletter .caixa-newsletter{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 80px;
    background: #f7941d;
}

.wow {
   visibility: hidden;
}

.newsletter .coluna-1 p{
    padding: 12px;
    color:#fff;
}
.newsletter .coluna-1 p b{
    font-weight: 800;
}
.newsletter .coluna-2{
    text-align: center;
    padding-top: 24.5px;
}
.newsletter .coluna-2 img{
    max-width: 100%;
    height: auto;
}

.newsletter .coluna-3{
    padding-top: 22.5px;
}

.newsletter .coluna-3 .form-control{
    width: 290px;
}

.newsletter .coluna-3 .btn{
    background: #f7941d;
    color:#fff;
    border-color: #f7941d;
    font-size: 1.2em;
}

.chamadas-categorias h2{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color:#f856a2;
  margin-bottom: 0px !important;
}

.caixa-categoria{
    position: relative;
    top:0;
    left:0%;
    width: 100%;
    height: 290px;
    margin-bottom: 25px;
    margin-top: 25px;
    cursor: pointer;
    background: #efefef;
}

.chamadas-categorias a{
    color:#545255;
    text-decoration: none;
}


.formas-de-pagamento{
    position: relative;
    margin-top: 40px;
    background: #dbdbd9;
    text-align: center;
    min-height: 100px;
}

.formas-de-pagamento img{
    max-width: 80px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 27px;
}

footer{
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: 'Open Sans', sans-serif;
    color:#666;
}

footer .coluna-1{
    text-align: left;
    font-size: 0.9em;
}

footer .coluna-2{
    text-align: right;
}

footer span{
    color:#666;
    padding-right: 10px;
}

footer .coluna-1 a{
    padding-right: 10px;
    color:#666;
    text-decoration: none;
}

footer .coluna-2 a{
    padding-left: 10px;
    color:#666;
    text-decoration: none;
    font-size: 1.2em;
}

footer .coluna-2 a i{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 4px;
    border-radius: 60px;
    background: #dbdbd9;
    color:#666;
}


footer .coluna-2 a i.fa-facebook:hover{
   background:#3b5999 !important;
   -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
   color:#fff;
}

footer .coluna-2 a i.fa-instagram:hover{
    background:#305c85 !important;
    -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
    color:#fff;
}

footer .coluna-2 a i.fa-pinterest-p:hover{
    background:#d83b38 !important;
    -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
    color:#fff;
}


















/* BRADCRUMB */
.breadcrumb-d{
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:#666 !important;
}
.breadcrumb-d a,.breadcrumb-d * a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:#666 !important;

}
/* BRADCRUMB */



.breadcrumb-paginas{
    position: relative;
    top:30px;
    left:0;
    width: 100%;
    background: #ff5f5f;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 18px;
    border-bottom: 22px solid #ffeefe;
}

.breadcrumb-paginas h2{
    color:#ffeefe;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
}


.work{
    margin-top: 30px;
    margin-bottom: 40px;
    min-height: 350px;
}



/* WOOCOMMERCE */

span.onsale{
    display: none;
}
h1.product_title.entry-title{
    font-family: 'Open Sans', sans-serif;
    color:#a1a1a1;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 1.95em;
}

.woocommerce-Tabs-panel h2{
    font-family: 'Open Sans', sans-serif;
    
    color:#a1a1a1;
    text-transform: uppercase;
    margin-bottom: 27px;
    font-size: 1.60em;
}
h1.page-title{
    display: none !important;
}
ul.products{
    margin-top: 68px !important;
}
.cart_totals.calculated_shipping h2,.related.products h2{
    font-family: 'Open Sans', sans-serif;
    color:#a1a1a1;
    text-transform: uppercase;
    margin-bottom: 27px;
    font-size: 1.60em;
}


.woocommerce-billing-fields h3,.woocommerce-shipping-fields h3,h3#order_review_heading{
    font-family: 'Open Sans', sans-serif;
    color:#a1a1a1;
    text-transform: uppercase;
    margin-bottom: 27px;
    font-size: 1.60em;
}

.woocommerce-billing-fields label,.woocommerce-shipping-fields label{
    font-family: 'Open Sans', sans-serif;
    color:#a1a1a1;
    text-transform: uppercase;
    font-weight: 400;
}


#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #fff !important;
    border-radius: 5px;
}

/* GERENCIA NET */
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #efefef !important;
    color: #515151;
}
#add_payment_method #payment div.payment_box:before, .woocommerce-cart #payment div.payment_box:before, .woocommerce-checkout #payment div.payment_box:before {
    content: "";
    display: none !important;
    border: 1em solid #efefef !important;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -.75em;
    left: 0;
    margin: -1em 0 0 2em;
}
/* GERENCIA NET */


.woocommerce table.shop_table th {
    font-weight: 700;
    padding: 9px 12px;
    font-family: 'Open Sans', sans-serif;
    color:#a1a1a1;
    text-transform: uppercase;
    font-weight: 400 !important;
}


.woocommerce-Tabs-panel h3,.woocommerce-Tabs-panel h4,.woocommerce-Tabs-panel h5,.woocommerce-Tabs-panel h6{
    font-family: 'Open Sans', sans-serif;
    color:#a1a1a1;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.woocommerce ul.products li.product h3 {
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif;
    color:#a1a1a1;
    text-transform: uppercase;
    font-size: 1.15em !important;
}

.woocommerce ul.products li.product span.price{
    font-family: 'Open Sans', sans-serif;    
    text-transform: uppercase;
    font-size: 1.12em !important;
    font-weight: 400 !important;
}
.woocommerce ul.products li.product .price ins {
    background: 0 0;
    font-weight: 400 !important;
}
.woocommerce ul.products li.product .price del {
    color: inherit;
    opacity: .5;
    display: inline !important;
    padding-right: 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    
    background-color: #efefef !important;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 4px 4px 0 0;
    margin: 0 -5px;
    padding: 0 1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #fff !important;
    z-index: 2;
    border-bottom-color: #fff !important;
}


.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: inherit;
    text-shadow: inherit;
    font-family: 'Open Sans', sans-serif !important; 
    color:#a1a1a1 !important;
    font-weight: 400 !important;
}


.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
    text-shadow: inherit;
    font-family: 'Open Sans', sans-serif; 
    color:#ff5f5f !important;
    font-weight: 400;
}


p.price{
    font-family: 'Open Sans', sans-serif;    
    text-transform: uppercase;
    font-size: 1.55em !important;
    font-weight: 400 !important;
}
span.woocommerce-Price-amount.amount{
   color:#fb605e !important;
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    background: inherit;
    font-weight: 400 !important;
    text-decoration: none !important;
}

table.variations .label,table.variations * .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: bold;
    line-height: 1;
    color:#212121;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-family: 'Open Sans', sans-serif; 
text-transform: uppercase;
font-weight: 400 !important;
}

.input-text.qty.text{
    height: 31px;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #53d9ff !important;
    color: #fff;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #53d9ff !important;
    color: #fff;
}

.woocommerce ul.products li.product .button,.woocommerce ul.products li.product .button:hover {
    margin-top: 1em;
    background-color: #53d9ff !important;
    color: #fff !important;
}


.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    text-align: center !important;
}

.woocommerce-MyAccount-navigation{
    margin-bottom: 45px;
    
    text-align: center;
}

.woocommerce-MyAccount-navigation ul{
    padding-left: 0px;
    margin-left: 0px;
}

.woocommerce-MyAccount-navigation ul,.woocommerce-MyAccount-navigation ul li{
    display: inline;
    list-style: none;
    font-family: 'Open Sans', sans-serif; 
text-transform: uppercase;
font-weight: 400 !important;
padding-left: 15px;
padding-right: 15px;
}

.woocommerce-MyAccount-navigation ul li a{
    color:#ff5f5f;
}
li.is-active a{
    font-family: 'Open Sans', sans-serif; 
text-transform: uppercase;
font-weight: 700 !important;

}

/* WOOCOMMERCE */

.crafty-social-buttons{
    margin-top: 20px !important;
        
}


.btn-primary{
    background: #eb839e !important;
    border-color: #eb839e !important;
    border-radius: 0px !important;
}

#custom-search-input {
        margin:0;
        margin-top: 9px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
